* {
    margin: 0;
    scroll-behavior: smooth;
}

.super-hr {
    width: 120px;
    margin: 2.5% 0;
}

.top-line {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.75em;
    font-weight: 400;
    color: gray;
    height: 44px;
    /* padding: 0 3% 0 3%; */
}

.top-left {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
    justify-items: center;
}

.top-left p {
    -webkit-appearance: none;
}    

.top-right {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
}





.navbar {
    padding: 0% 19%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #0F0F0F;
    /* padding-block: 15px; */
    /* height: 80px; */
}

.navbar a {
    font-family: 'PT Sans';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: gray;
    text-decoration: none;
    /* padding: 0 1%; */
}

.navbar i {
    color:white;
}

.logo p {
    /* margin-right: 50px; */
    color: white;
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.list {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;   
}

#toggler,
.navbar label {
    display: none;
    /* transition: 1s; */
}




@media screen and (min-width: 1050px) {


    
    .navbar {
        padding: 0% 19%;
    }

    

    .active {
        background-color: #1F1F1F;
        padding: 31px 2%;
        font-weight: 800;
    }

}



@media screen and (max-width: 1050px) {

    .navbar {
        padding: 2% 7%;
    }

    
    .active {
        /* background-color: #1F1F1F; */
        /* padding: 31px 2%; */
        font-weight: 800;
    }
    
    
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
    }
    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        color: white;
    }
    #toggler:checked ~ .menu {
        max-height: 100%;
        
    }

    .active {
        /* background-color: #1F1F1F; */
        /* padding: 31px 2%; */
        font-weight: 500;
    }
}




.first-screen {
    background-image: url(../img/first-screen/first-screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 810px;
}



@media screen and (max-width:700px) {

    .first-screen div {
        border: 4px solid #FFFFFF;
        margin: 3%;
        width: 210px;
        height: 210px;  
        display: flex; 
        align-items: center;
        justify-content: center;
        flex-direction: column;   
    }

    .first-screen .small-p {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        max-width: 40%;
    }
    
    .first-screen div p{
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
    }

    .first-screen .logo {
        font-family: 'Post No Bills Jaffna';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        text-align: center;
    }
    
}

@media screen and (min-width:700px) {

    .first-screen div {
        border: 4px solid #FFFFFF;
        margin: 3%;
        width: 320px;
        height: 320px;  
        display: flex; 
        align-items: center;
        justify-content: center;
        flex-direction: column;   
    }

    .first-screen .small-p {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        max-width: 40%;
    }
    
    .first-screen div p{
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
    }

    .first-screen .logo {
        font-family: 'Post No Bills Jaffna';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 50px;
        text-align: center;
    }
}







.first-screen hr {
    width: 179px;;
}


@media screen and (min-width:1400px) {
    .new-season-collection {
        display: flex;
        flex-direction: row;
        /* height: 730px; */
    }
}





@media screen and (max-width:1400px) {
    
    .new-season-collection {
        display: flex;
        flex-direction: column;
        /* height: 730px; */
    }



}

.new-season {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* width: 55%; */
    padding: 3% 3%;
}





@media screen and (min-width:600px) {

    .season-product {
        padding: 0 3rem; 
    }

    .season-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .season-product img{
        max-width: 100%;
    }

    .new-season p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        padding: 3% 0;
    }

    .season-product .big-p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
    }
    
    .season-product .small-p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        text-align: left;
    }

}


@media screen and (max-width:600px) {

    .season-product {
        
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .season-block {
        /* display: flex;
        flex-direction: column;
        padding-left: 4%; */

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .season-product img{
        max-width: 69%;
    }

    .new-season p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        /* line-height: 48px; */
        text-align: center;
        text-transform: uppercase;
        padding: 3% 0;
    }

    .season-product .big-p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        /* line-height: 24px; */
        text-align: left;
    }
    
    .season-product .small-p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        /* line-height: 21px; */
        text-align: left;
    }
}




.season-product img {
    background: #191B1C;
    padding: 10%;
    /* transition: 1s; */
    
}

.season-product img:hover {
    /* transform: scale(1.1); */
    
}


@media screen and (max-width:1400px) {

    .new-season {
        width: auto ;
    }
    
    .new-collection {
        width: auto;
    }

    .new-colblock {
        padding: 37% 12.5% 3.9%;
    }
}
@media screen and (min-width:1400px) {

    .new-season {
        width: 55% ;
    }

    .new-collection {
        width: 51%;
    }

    .new-colblock {
        padding: 52% 31.5% 3.9%;
    }
}


.new-collection {
    background-image: url(../img/new-collection/new-collection.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* width: 51%; */
    /* padding: 25% 14.5% 5.9%; */
    /* padding: 23% 15% 0 ; */
}

.new-colblock {
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.new-collection p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;  
}

.new-collection a {
    color: white;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 12px 28px;
    border: 1px solid #FFFFFF;
    text-decoration: none;
}

.new-collection a:hover,
.new-collection a:active {
    background-color: white;
    color: black;
    font-weight: bold;
}

.collection-2018 {
    display: flex;
    background: black;
}


@media screen and (min-width:1600px) {

    .collection-2018 .left-photo {
        display: block;
        max-width: 55%;
    }

    .collection-2018 .collection {
        padding: 5% 9%;
    }
}

@media screen and (max-width:1600px) and (min-width:1400px) {
    .collection-2018 .collection {
        padding: 5% 4%;
    }
    .collection-2018 .left-photo {
        display: block;
        max-width: 54%;
    }
    
}


@media screen and (max-width:1400px) {
    .collection-2018 .left-photo {
        display: none;
    }

    .collection-2018 .collection {
        padding: 5% 16%;
    }
    
}


.collection-2018 .collection {
    /* padding: 5% 9%; */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* width: 52%; */
}

.collection-2018 .collection .big-p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    
}

.collection-2018 .collection .small-p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    /* max-width: 64.01%; */
    padding: 4% 0;
}

.collection-2018 .collection a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    color: white;
    text-decoration: none;
    padding: 12px 28px;
}

.collection a:hover,
.collection a:active {
    background-color: white;
    color: black;
    font-weight: bold;
}


.new-goods {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}



@media screen and (max-width:900px) {
    .goods {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        /* padding: 0 20%; */
    }
    .goods .new-goods-product {
        padding: 1% 3%;
    }
    .new-goods p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        /* line-height: 48px; */
        text-align: center;
        text-transform: uppercase;
        padding: 4% 0 0%;
    }

    .goods .new-goods-product .big-p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        /* line-height: 24px; */
        text-align: left;
    }
    
    .goods .new-goods-product .small-p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        /* line-height: 21px; */
        text-align: left;
    }

    .goods .new-goods-product {

        display: flex;
        flex-direction: column;
        /* max-width: 100%; */
        align-items: center;
    }

    .goods .new-goods-product img {
        background: #191B1C;
        /* padding: 10%; */
        max-width: 90%;
    }
}

@media screen and (min-width:900px) and (max-width:1300px) {
    
    .goods {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        /* padding: 0 20%; */
    }
    .goods .new-goods-product {
        padding: 20px 12px;
    }
    .new-goods p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        padding: 4% 0 0%;
    }

    .goods .new-goods-product .big-p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
    }
    
    .goods .new-goods-product .small-p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        text-align: left;
    }

    .goods .new-goods-product {

        display: flex;
        flex-direction: column;
        /* max-width: 100%; */
        
    }

    .goods .new-goods-product img {
        background: #191B1C;
        padding: 10%;
        max-width: 90%;
    }
}

@media screen and (min-width:1300px) {
    .goods {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* padding: 0 20%; */
    }
    .goods .new-goods-product {
        padding: 20px 12px;
    }
    .new-goods p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        padding: 4% 0 0%;
    }

    .goods .new-goods-product .big-p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
    }
    
    .goods .new-goods-product .small-p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        text-align: left;
    }

    .goods .new-goods-product {

        display: flex;
        flex-direction: column;
        /* max-width: 100%; */
    }

    .goods .new-goods-product img {
        background: #191B1C;
        padding: 10%;
        max-width: 90%;
        /* transition: 1s; */
    }

    .goods .new-goods-product img:hover {
        /* transform: scale(1.1); */
        
    }

    .goods .new-goods-product .more:hover {
        transform: none;
    }

    
}









.goods .new-goods-product .more { 
    filter: blur(1px) brightness(80%);
}

/* 
.goods .new-goods-more img {
    background: #191B1C;
    width: 260px;
    height: 325px;
} */

.goods .new-goods-product a {
    position: relative;
    bottom: 50%;
    border: 1px solid #FFFFFF;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: white;
    margin: 0px 17%;
    padding: 4%;
    text-decoration: none;
}

.goods .new-goods-product a:hover,
.goods .new-goods-product a:active {
    background-color: white;
    color: black;
    font-weight: 400;
}

.articles {
    background-color: #0F0F0F;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}



@media screen and (max-width:1600px) {
    .articles .articles-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .articles .articles-photo img {
        max-width: 100%;
    }
    .articles p{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        padding: 3% 0 0%;
    }
    
}



@media screen and (min-width:1600px) {
    .articles p{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        padding: 3% 0 0%;
    }
   
}

.articles .articles-block {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}




.articles .articles-block .big-p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.articles .articles-block .small-p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    padding: 6% 0;
}

.articles .articles-block a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    padding: 12px 28px;
    text-decoration: none;
    color: white;
    
}

.articles .articles-block a:hover,
.articles .articles-block a:active {
    background-color: white;
    color: black;
    font-weight: 400;
}

.articles .articles-text {
    margin: 6%;
}


.articles .articles-text .first-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.articles .articles-text .last-text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.our-brands {
    background-color: #0F0F0F;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 3% 0 4%;
}

.our-brands p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    /* padding: 3% 0 0%; */
}

.our-brand-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}




@media screen and (min-width:700spx) {
    .our-brand-block img {
        max-width: 100%;
    }

    .our-brand-block {
        display: flex;
        flex-direction:row;
        align-items: center;
    }
    
}

@media screen and (max-width:700px) {
    .our-brand-block img {
        max-width: 60%;
    }

    .our-brand-block {
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    
}

@media screen and (min-width:1200px) {

    
    footer {
        background-image: url(../img/footer/footer.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        padding: 5% 0;
        color: white;
        /* justify-items: center; */
    }

    .footer-mailing .mailing input{
        padding: 7% 22% 7% 5%;
    }

    .footer-mailing .mailing a{
        padding: 6%;
    }

    .footer-mailing .mailing {
        display: flex ;
        flex-direction: row;
    }

    footer .footer-category a {
        font-size: 14px;
        margin: 4% 2%;
    }

    footer .footer-about {
        padding: 0 22%;
    }
    footer .footer-category {
        padding: 0 ;
    }
    footer .footer-mailing {
        padding: 0 22%;
    }
}

@media screen and (max-width:1200px) {

    footer .footer-category a {
        font-size: 11px;
        margin: 2% 2%;
    }

    footer {
        background-image: url(../img/footer/footer.png);
        display: grid;
        /* display: flex; */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        padding: 3% 3%;
        color: white;
        /* justify-items: center; */
    }

    footer .footer-about {
        padding: 0 12%;
    }
    footer .footer-category {
        padding: 0 12%;
    }
    footer .footer-mailing {
        padding: 0 12%;
    }

    .footer-mailing .mailing input{
        padding: 6%;
    }

    .footer-mailing .mailing a{
        padding: 3%;
    }

    .footer-mailing .mailing {
        display: flex ;
        flex-direction: column;
    }
}

footer .big-p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    padding: 2% 0 8%;
}

footer .small-p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding: 2% 0 8%;
}



footer .footer-category .category-top {
    display: flex; 
    justify-content: flex-start;
}

footer .footer-category .category-middle {
    display: flex; 
    justify-content: flex-start;
}

footer .footer-category .category-last {
    display: flex; 
    justify-content: flex-start;
}

footer .footer-category a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    /* font-size: 14px; */
    line-height: 150%;
    background: #0F0F0F;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 4% 5%;
    /* margin: 4% 2%; */

}

footer .footer-category a:hover,
footer .footer-category a:active {
    background-color: white;
    color: black;
    font-weight: bold;
}

.footer-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 22%;
}



.footer-mailing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 22%;
}



.footer-mailing .mailing input {
    background: rgba(255, 255, 255, 0.4);
    color: white;
    border: 0;
    outline: none;
}

.mailing input::placeholder {
    color: white;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    
  }

.footer-mailing .mailing a{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    background: #0F0F0F;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-mailing .mailing a:hover,
.footer-mailing .mailing a:active {
    background-color: white;
    color: black;
    font-weight: bold;
}

.last-line {
    background: #0F0F0F;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 18px 0 17px 0;
    color: white;
}

.last-line p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

}

.last-line .fixed {
    padding-left: 9%;
}
