* {
    margin: 0;
    scroll-behavior: smooth;
    /* color: white; */
}

.super-hr {
    width: 120px;
    margin: 2.5% 0;
}

p {
    
}

.top-line {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: gray;
    height: 44px;
    /* padding: 0 3% 0 3%; */
}

.top-left {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
}

.top-right {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
}

nav {
    background-color: #0F0F0F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 80px;
    padding: 0 19%;
}

nav p {
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    padding-right: 44%;
}

nav a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: gray;
    text-decoration: none;
    padding: 0 1%;
}

nav img {
    padding: 0 1%;
}

nav .active {
    background-color: #1F1F1F;
    padding: 31px 1%;
}

.first-screen {
    background-image: url(/img/first-screen/first-screen.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 810px;
}

.first-screen div p{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.first-screen .small-p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    max-width: 40%;
}

.first-screen .logo {
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 50px;
    text-align: center;
}

.first-screen div {
    border: 4px solid #FFFFFF;
    margin: 3%;
    width: 320px;
    height: 320px;  
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}

.first-screen hr {
    width: 179px;;
}

.new-season-collection {
    display: flex;
    flex-direction: row;
    height: 730px;
}

.new-season {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* width: 54.16%; */
    padding: 0 3%;
}

.new-season p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    padding: 3% 0;
}


.season-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.season-product {
    padding: 0 47px;
}

.season-product img {
    background: #191B1C;
    padding: 10%;
}

.season-product .big-p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

.season-product .small-p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
}

.new-collection {
    background-image: url(/img/new-collection/new-collection.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 45.83%;
    padding-top: 23%;
    /* padding: 23% 15% 0 ; */
}

.new-collection p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;  
}

.new-collection a {
    color: white;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 12px 28px;
    border: 1px solid #FFFFFF;
    text-decoration: none;
}

.collection-2018 {
    display: flex;
    background: black;
}

.collection-2018 .left-photo {
    max-width: 48.75%;
}

.collection-2018 .collection {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 52%;
}

.collection-2018 .collection .big-p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    
}

.collection-2018 .collection .small-p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    max-width: 64.01%;
}

.collection-2018 .collection a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    color: white;
    text-decoration: none;
    padding: 12px 28px;
}

.new-goods {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.new-goods p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    padding: 4% 0 0%;
}

.goods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* padding: 0 20%; */
}

.goods .new-goods-product {
    display: flex;
    flex-direction: column;
    padding: 20px 12px;
    /* width: 260px; */
    /* height: 405px;   */
}

.goods .new-goods-product img {
    background: #191B1C;
    padding: 10%;
}

.goods .new-goods-product .big-p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

.goods .new-goods-product .small-p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
}

.goods .new-goods-product .more { 
    filter: blur(1px) brightness(80%);
}

/* 
.goods .new-goods-more img {
    background: #191B1C;
    width: 260px;
    height: 325px;
} */

.goods .new-goods-product a {
    position: relative;
    bottom: 50%;
    border: 1px solid #FFFFFF;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: white;
    margin: 0px 17%;
    padding: 4%;
    text-decoration: none;
}

.articles {
    background-color: #0F0F0F;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.articles p{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    padding: 3% 0 0%;
}

.articles .articles-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.articles .articles-block .big-p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.articles .articles-block .small-p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    padding: 6% 0;
}

.articles .articles-block a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    padding: 12px 28px;
    text-decoration: none;
    color: white;
    
}

.articles .articles-text {
    margin: 6%;
}


.articles .articles-text .first-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.articles .articles-text .last-text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.our-brands {
    background-color: #0F0F0F;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 3% 0 4%;
}

.our-brands p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    /* padding: 3% 0 0%; */
}

.our-brands-block {
    display: flex;
}


footer {
    background-image: url(/img/footer/footer.png);
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    padding: 5% 9%;
    color: white;
}

footer .big-p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    padding: 2% 0 8%;
}

footer .small-p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding: 2% 0 8%;
}

footer .footer-category {
    /* max-width: 4%; */
}

footer .footer-category .category-top {
    display: flex; 
    justify-content: flex-start;
}

footer .footer-category .category-middle {
    display: flex; 
    justify-content: flex-start;
}

footer .footer-category .category-last {
    display: flex; 
    justify-content: flex-start;
}

footer .footer-category a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    background: #0F0F0F;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 3%;
    margin: 1%;

}

.footer-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 22%;
}



.footer-mailing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 22%;
}

.footer-mailing .mailing {
    display: flex ;
    flex-direction: row;
}

.footer-mailing .mailing input {
    background: rgba(255, 255, 255, 0.4);
    color: white;
    border: 0;
    padding: 7% 22% 7% 5%;
    outline: none;
}

.mailing input::placeholder {
    color: white;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    
  }

.footer-mailing .mailing a{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    background: #0F0F0F;
    color: #FFFFFF;
    text-decoration: none;
    padding: 6%;
}

.last-line {
    background: #0F0F0F;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 18px 0 17px 0;
    color: white;
}

.last-line p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

}

